<div class="sliderStyle pt-4">
    <h5>Products</h5>
    <ul class="list-unstyled mb-2">
        <li style="display:inline;">
          <button class="nav-link "  (click)="allFilter()" class="btn btn-primary" >All </button> 
        </li>
    <br>
        <li style="display:inline;">
            <button  class="nav-link"  class="btn btn-primary" (click)="simpleFilter()" >Simple Tools </button> 
        </li>
        <br>
        <li style="display:inline;">
            <button a class="nav-link" class="btn btn-primary" (click)="complexFilter()" >Complex tools </button> 
          </li>
    </ul>
</div>